<!DOCTYPE html>
{% extends "index.html" %} 
{% block content %} 
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body> 

    <div class="table-responsive fondo">
        {% if productos %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Promocion</th>
                </tr>
            </thead>

            <tbody>
                {% for producto in productos %}
                <tr class="">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.categoria}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.promocion}}</td>

                    <td>
                        <a href="/productos/modificarProducto/{{ producto.id }}" class="btn btn-success">Modificar</a>
                    </td>
                    <td>
                        <a href="/productos/eliminarProducto/{{ producto.id }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1 class="alert alert-info">No hay productos</h1>
        {% endif %}

        
        <div class="d-flex">
            <a href="../" class="btn btn-danger btn-sm">volver</a>
            <a href="{% url 'registrar/productos' %}" class="btn btn-info btn-sm ml-auto">agregar registro</a>
          </div>
        </div>
        
    </div>
    {% endblock %}
</body>

</html>